<!-- <div (click)="openModal(content)" class="click p-0 d-flex">
	<ng-content select="[click]"> </ng-content>
</div>

<ng-template #content let-modal>

	<div class="iconCloseModal click" (click)="closeModal(modal)">
		<i class="material-icons text-primary">close</i>
	</div>

	<div *ngIf="title" class="modal-header">
		<h4 class="modal-title mx-auto">{{title}}</h4>
	</div>

	<div class="modal-body">
		<ng-content select="[content]"> </ng-content>
	</div>

	<div class="modal-footer" *ngIf="showFooter">
		<button type="button" class="btn btn-light" (click)="closeModal(modal)">Fechar</button>
		<ng-content select="[footer]"> </ng-content>
	</div>

</ng-template> -->