<div class="form-group" [formGroup]='formGroup'>
    <ng-content></ng-content>
    <div>
        <label class="pt-0 mr-2">
            {{inputCustom.label}}
        </label>
    </div>
    <ng-container [ngSwitch]="inputCustom.type">
        <div *ngSwitchCase="'text'">
            <input [type]="inputCustom.type" min="0" class="form-control"
                [placeholder]="inputCustom.placeholder || inputCustom.label"
                [formControlName]="inputCustom.formControlName ?? ''"
                [ngClass]="{validateError: validateForm(inputCustom.formControlName)} ">
        </div>
        <div *ngSwitchCase="'number'">
            <input [type]="inputCustom.type" min="0" class="form-control"
                [placeholder]="inputCustom.placeholder || inputCustom.label"
                [formControlName]="inputCustom.formControlName ?? ''"
                [ngClass]="{validateError: validateForm(inputCustom.formControlName)} ">
        </div>
        <div *ngSwitchCase="'password'">
            <input [type]="inputCustom.type" min="0" class="form-control"
                [placeholder]="inputCustom.placeholder || inputCustom.label"
                [formControlName]="inputCustom.formControlName ?? ''"
                [ngClass]="{validateError: validateForm(inputCustom.formControlName)} ">
        </div>
        <div *ngSwitchCase="'date'">
            <input [type]="inputCustom.type" min="0" class="form-control"
                [placeholder]="inputCustom.placeholder || inputCustom.label"
                [formControlName]="inputCustom.formControlName ?? ''"
                [ngClass]="{validateError: validateForm(inputCustom.formControlName)} ">
        </div>
        <div *ngSwitchCase="'checkbox'">
            <input class="checkbox_animated" [type]="inputCustom.type"
                [formControlName]="inputCustom.formControlName ?? ''">
        </div>
        <div *ngSwitchCase="InputType.textArea">
            <textarea class="form-control" [placeholder]="inputCustom.placeholder || inputCustom.label"
                [formControlName]="inputCustom.formControlName ?? ''"></textarea>
        </div>
        <div *ngSwitchCase="InputType.select">
            <select *ngFor="let currentSelect of inputCustom.optionsSelect" class="form-control"
                [formControlName]="inputCustom.formControlName ?? ''"
                [ngClass]="{validateError: validateForm(inputCustom.formControlName)} ">
                <option value="">
                    {{inputCustom.placeholder || 'Selecione uma opção'}}
                </option>
                <option *ngFor="let option of currentSelect.options" [value]="option.value">
                    {{option.text}}
                </option>
            </select>
            <div *ngIf="validateForm(inputCustom.formControlName)">
                <div class="">
                    {{getErrorMessage(inputCustom.formControlName, inputCustom.label)}}
                </div>
            </div>
        </div>
    </ng-container>
    <div *ngIf="validateForm(inputCustom.formControlName) && inputCustom.type != InputType.select">
        {{getErrorMessage(inputCustom.formControlName, inputCustom.label)}}
    </div>
</div>