<app-overlay-loading [isLoading]="loading">
    <div class=" col-9 mx-auto ">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{title}}</h1>
                <h2>{{subtitle}}</h2>
                <div class="row form d-flex justify-content-center align-items-center ">
                    <div class="col-12">
                        <form name="form" (ngSubmit)="_submit()" [formGroup]="formGroup">
                            <ng-content select="[beforeIputs]"> </ng-content>
                            <div *ngFor="let row of rows">
                                <div class="row">
                                    <ng-container *ngFor="let input of row.inputCustom">
                                        <app-input [class.col-md-6]="!input.class" [ngClass]="input.class"
                                            [backendErrors]="backendErrors" [isErro]="isErro" [inputCustom]="input"
                                            [formGroup]="formGroup" [formEnviado]="formEnviado">
                                        </app-input>
                                    </ng-container>
                                </div>
                            </div>
                            <ng-content> </ng-content>
                            <ng-content select="[actions]"> </ng-content>
                        </form>
                        <pre>{{ formGroup.value | json }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-overlay-loading>